.progtrckr-doing::before,
.progtrckr-done::before {
  padding-right: 4% !important;
}
.progtrckr-doing span,
.progtrckr-done span {
  white-space: nowrap !important;
}
.hide {
  display: none !important;
  visibility: hidden !important;
}
#prev-button {
  position: relative;
  top: -36px !important;
}

.progtrckr {
  padding: 5px;
  box-shadow: 1px 3px 5px rgba(204, 204, 204, 0.568);
}

.progtrckr li span {
  position: absolute !important;
  width: 20% !important;
  display: flex !important;
  justify-content: center !important;
  white-space: nowrap !important;
}
