.loader__container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.644);
}
.loader-box {
  z-index: 10000000000000000000000;
}
