.top__header > div {
  height: 70px;
  border-bottom: 1px solid #e4e2e0;
}
.top__header ul li a {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
}
.top__header ul li a:hover {
  box-sizing: border-box;
}

.border__active {
  border-bottom: 3px solid #7366ff;
}

.header__dropdown {
  width: 200px;
  height: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  box-shadow: 1px 8px 8px #ccc;
  left: 30px;
  z-index: 1000000000000;
  background: #fbfbfb;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.5s;
}
.header__dropdown a {
  opacity: 0;
}

.active {
  height: auto;
  visibility: visible;
  opacity: 100;
  transition: all 0.5s;
}
.active a {
  opacity: 1 !important;
}

.header__dropdown a {
  height: 30px !important;
  padding: 5px;
  display: block;
  font-size: 16px;
  margin: 10px 0;
}

.header__dropdown li:hover {
  background: #eee;
}
